:root {
    box-sizing: border-box;
    font-size: calc(1vw + 0.6em);
}

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    /* background-color: #020e53 ; */
    background-color: hsl(200, 80%, 30%);
    background-image: radial-gradient(hsl(200, 80%, 30%), hsl(210, 80%, 20%));
    font-family: Raleway, Helvetica, Arial, sans-serif;
    
}

.header {
    padding-bottom: 10px;
}

hr {
    border-top: 2px solid blue;
}

h2, h3 {
    text-align: center;
}

.container {
    color: black;
}

.secondary {
    text-align: left;
}    

.text-center {
    font-size: 20px;
    color: cyan;
}

#center {
    text-align: center;
}


