:root {
    box-sizing: border-box;
    font-size: calc(1vw + 0.6em);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #020e53 ;
    
}

hr {
    border-top: 2px solid blue;
}


h2, h3 {
    text-align: center;
}    

.text-center {
    font-size: 20px;
    color: blueviolet;
}



